/*-- css file imports for individual components --*/
@import url("components/nav.css");
@import url("components/chat.css");
/*------------------------------------------------*/

:root {
  --background-primary: #0f0f0f;
  --background-secondary: #1e1e1e;

  --text-primary: #dfdfdf;
  --text-secondary: #999999;

  --chat-bubble-user: #1787ff;
  --chat-bubble-slng: #3a3a3c;
}

body, header, main, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  gap: 2rem;
  height: 100svh;

  font-family: "Inter", sans-serif;
  color: var(--text-primary);

  background-color: var(--background-primary);
}

header {
  /* min-height: 15svh; */
}

main {
  /* min-height: 80svh; */
  gap: 2rem;
}

footer {
  /* min-height: 5svh; */
}

.footer__credits {
  font-size: 0.7rem;
  color: var(--text-secondary);
}

ul {
  list-style-type: none;
}