/* css file for the main chat function, including the chat list, chat box, and chat bubbles */

.chat-list, .chat-box{
  border-radius: 24px;
}

.chat-list {
  width: min(85svw, 750px);
  min-height: 80svh;

  border: 2px solid var(--background-secondary);
  opacity: 0.5;
}

.chat-list:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.chat-box {
  display: flex;
  align-items: center;
  width: min(85svw, 750px);
  /* min-height: 3.5em; */

  background-color: var(--background-secondary);
}

#chat-box__input {
  /* Reset style */
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;

  font: inherit;
  color: var(--text-primary);
  /* ----------- */

  margin: 1em 1em 1em 2em;
  width: 87.5%;
  height: 1.5em;
}

.chat-box__submit {
  background-color: transparent;
  border: none;
}

.fa-regular {
  color: var(--text-primary);
}