/* css file for the main chat function, including the chat list, chat box, and chat bubbles */

.chat-list, .chat-box{
  width: 50%;
  border-radius: 24px;
  background-color: var(--background-secondary);
}

.chat-list {
  min-height: 70svh;
}

.chat-box {
  display: flex;
  min-height: 3.5em;
}

.chat-box__input {
  background-color: transparent;
  border: none;
}

.chat-box__submit {

}