/* css file for the nav bar  */

.sidebar {
  display: flex;
  flex-direction: column;

  margin: 2svh 1svw;
  width: min(350px, 40svw);

  /* width: min(450px, 10svh); */

  /* TODO: CONVERT THESE TO VARIABLES */
  background: var(--background-secondary);
  background: linear-gradient(180deg, var(--background-secondary) 70%, #242424 100%);
  border: 1px solid #404040;
  border-radius: 20px;
  transition: 0.2s ease-out;
}

.sidebar:hover {
  filter: brightness(1.08);
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1.25em 1.5em;

  /* border: 1px solid white; */
}

.sidebar__logo {
  width: 3rem;
}

.sidebar__display {
  color: var(--text-primary);
  transition: 0.2s ease-out;
}

.sidebar__display:hover {
  transform: scale(1.5);
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding-inline: 0.75em;
  gap: 0.2em;
  /* border: 1px solid white; */
}

.sidebar__nav__item {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0.9em 1em;
  gap: 1.25em;

  border-radius: 17px;
  border: 1px solid transparent;

  transition: 0.15s ease-out;
}

.icon-box {
  width: 1.5em;
  text-align: center;
  /* border: 1px solid white; */
}

.sidebar__nav a:first-child li {
  background-color: #161616;
}

.sidebar__nav__item:hover {
  background-color: #242424;
  border: 1px solid #333333;
}