/* css file for the sidebar  */

.top-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-inline: 1.25em;
  width: min(900px, 100%);
  min-height: 3.75rem;
  border-radius: 15px;

  background: var(--background-secondary);
  background: linear-gradient(90deg, var(--background-secondary) 70%, #242424 100%);
  border: 1px solid #2a2a2a;
}

.top-sidebar__hamburger {
  margin-right: 66.8594px;  /* TODO: temporary fix to center the logo */

  font-size: 1.25rem;
  color: var(--text-secondary);
}

.sidebar__xmark {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.sidebar__logo {
  /* display: none; */
  height: 1.75em;
  transition: 0.5s ease-out;
}

#login-btn {
  padding: 0.5em 1.25em 0.5em 1.25em;
  border: 1px solid #404040;
  border-radius: 35px;
  color: var(--text-primary);

  transition: 0.15s;
}

#login-btn:hover {
  color: rgba(223, 223, 223, 0.5);
}

.sidebar {
  display: flex;
  flex-direction: column;

  /* TODO: CONVERT THESE TO VARIABLES */
  background: var(--background-secondary);
  background: linear-gradient(180deg, var(--background-secondary) 50%, #292929 100%);
  border: 1px solid #2a2a2a;
  border-radius: 24px;
  transition: 0.2s ease-out;
  transition: left 0.4s ease-in-out;
}

/* mobile hamburger transition */
.sidebar {
  position: fixed;
  left: -290px;

  margin: 1rem 1rem;
  width: min(275px, 70%);
  height: calc(100% - 2rem);
  z-index: 998;
}

.sidebar .sidebar__logo {
  display: none;
}

.sidebar.active {
  left: 0px;
}

.sidebar.active ~ .backdrop {
  display: block;
}

.sidebar:hover {
  filter: brightness(1.08);
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1em 1.25em;
}

.sidebar__logo:hover {
  animation: shake 1s;
  transform: scale(1.2);
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: scale(1.1) rotate(-5deg); }
  50% { transform: scale(1.2) rotate(5deg); }
  100% { transform: scale(1.2) rotate(0deg); }
}

.sidebar__display {
  color: var(--text-primary);
  transition: 0.2s ease-out;
}

.sidebar__display:hover {
  transform: scale(1.2);
}

.sidebar__account {
  display: flex;
  align-items: center;
  gap: 1.25em;

  margin: 0.5em;
  padding: 1em 0;

  border: 1px solid transparent;
  border-radius: 13px;
  transition: 0.15s ease-out;
}

.sidebar__account i {
  margin-left: 0.5em;
}

.sidebar__account__text {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  color: var(--text-primary);
}

.sidebar__account__text h2 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
}

.sidebar__account__text p {
  margin: 0;
  font-size: 0.75rem;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  margin: 0.75em 0.5em;
  gap: 0.2em;
}

.sidebar__nav__item {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0.8em 0.8em;
  gap: 1.25em;

  border-radius: 13px;
  border: 1px solid transparent;
  color: var(--text-primary);

  transition: 0.15s ease-out;
}

.icon-box {
  width: 1.5em;
  text-align: center;
  /* border: 1px solid white; */
}

/* TODO: make this so that it changes background color for the selected menu */
.sidebar__nav a:first-child li {
  background-color: #383838;
}

.sidebar__nav__item:hover, .sidebar__account:hover {
  background-color: #242424;
  border: 1px solid #333333;
}

@media (min-width: 1280px) {
  .top-sidebar {
    display: none;
  }

  .sidebar {
    display: flex;
    position: relative;
    left: 0px;

    margin: 2svh 1svw;
    width: min(275px, 30svw);
    height: calc(100% - 4svh);
  }

  .sidebar__xmark {
    display: none;
  }

  .sidebar .sidebar__logo {
    display: flex;
    height: 1.6rem;
  }
}