.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25svh;

  color: var(--text-primary);
  /* TODO: Animate welcome message */
  /* transition: all 0.2s ease-out; */
  /* transition-behavior: allow-discrete; */
}

.welcome__suggestions-box {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  gap: 2em;
}

.welcome h1 {
  margin: 0;
  margin-bottom: 0.4em;
  font-size: 2.5rem;
  font-weight: 500;
}

.welcome__subtitle {
  width: min(27.5em, 90%);
  border: 1px solid #454545;  /* yet again, TODO: color variables */
  border-radius: 15px;

  transition: 0.2s ease-in-out;
}

.welcome__subtitle p {
  width: 100%;
  color: var(--text-secondary);
  text-align: center;
  margin: 0.95em 0;
}

.welcome__subtitle:hover {
  transform: scale(1.05);
}

/* .welcome__subtitle.active {
  animation: click 0.3s;
} */

@keyframes click {
  50% { transform: scale(0.975); }
  100% { transform: scale(1); }
}

.welcome__suggestion {
  display: flex;
  align-items: center;
  gap: 1.5em;
  
  color: var(--text-primary);
}

.welcome__suggestion__description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.welcome__suggestion__description h3 {
  margin: 0;
  font-size: 1.1em;
  font-weight: 400;
}

.welcome__suggestion__description p {
  margin: 0;
  color: var(--text-secondary);
}